.pl0 {
    padding-left: 0;
}
.overflow-hidden {
    overflow: hidden;
}
.demo-page-border {
    border-color: rgba(0,0,0,.7);
    border-width: .5rem;
    border-top-style: solid;
    position: relative;
}
.demo-page {
    border-radius: .125rem;
    left: 0;
    bottom: 1rem;
    display: inline-block;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    padding: .25rem;
    margin-top: .5rem;
    line-height: 1;
    font-size: 1em;
}
.demo-page .current {
    color: rgba(0,0,0,.6);
    font-weight: 700;
}
.demo-page .total {
    font-size: 1.25rem;
    color: rgba(0,0,0,.5);
}
.demo-desc-wrapper {
    background-color: #f7f9fc;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
.demo-desc {
    width: 60%;
    line-height: 1.5;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: rgba(0,0,0,.9);
    font-weight: 500;
}
.left-nav, .right-nav {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgba(0,0,0,.5);
    width: 20%;
    font-weight: 700;
    cursor: pointer;
}
.right-nav {
    text-align: right;
}
.list {
    list-style-type: none;
}
.flex {
    display: flex;
}
.w-20 {
    width: 20%;
}
.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.relative {
    position: relative;
}
.pagination-icon {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .125rem;
    display: inline-block;
    width: .6rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    font-weight: 700;
}
