{{ define "main" }}
<!-- Main Content -->
<div class="container" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="e-content archive">
            {{ range (.Site.RegularPages).GroupByDate "2006" }}
            {{ if ne .Key "0001" }}
                <h2>{{ .Key }}</h2>
                {{ range where .Pages "Type" "not in" (slice "page") }}
                <div class="row">
                    <div class= "col-xs-3 text-right small">
                        <p>{{ .Date.Format "Jan 2, 2006" }}</p>
                    </div>
                    <div class= "col-xs-9 text-left small">
                        <p><a href="{{ .RelPermalink }}">{{ if .Draft }}<span style="color: darkorange">[Draft]</span> {{ end }}{{ .Title }}</a></p>
                    </div>
                </div>
            {{ end }}
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
