{{ define "main" }}

<!-- <div class="navigation">
  <a href="/" class="logo" title="Site Logo"><strong>阳明的博客</strong></a>
  <ul class="menu">
      <li><a href="/projects" title="Projects">项目</a></li>
      <li><a href="/archives/" title="Projects">归档</a></li>
      <li><a href="/projects" title="Projects">关于</a></li>
  </ul>
</div>

{{ if .Params.bigimg }}
    {{ $img := index .Params.bigimg 0}}
    {{ $.Scratch.Set "img" $img }}
    {{ if .Truncated }}
        {{ $.Scratch.Set "Summary" .Summary }}
    {{ end }}
{{ else }}
    {{ if .Truncated }}
        {{ $SummaryIn := "<a href=\"([^\"]+)\"><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></a>" }}
        {{ $Summary := .Summary | replaceRE $SummaryIn "" | safeHTML }}
        {{ $.Scratch.Set "Summary" $Summary }}
    {{ end }}
    {{ $img := (dict "src" .Site.Params.defaultImg "desc" "") }}
    {{ $.Scratch.Set "img" $img }}
{{ end }}

{{ $img := $.Scratch.Get "img" }}
{{ $Summary := $.Scratch.Get "Summary" }}
<article class="post">
<div class="article-image">
    <div class="post-image-image" style="background-image: url({{$img.src | absURL }})"></div>
    <div class="post-meta">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="cf post-meta-text">
            {{ $Summary }}
            <p>发表于 <strong>{{ .Date.Format "Mon Jan 2, 2006" }}</strong></p>
        </div>
    </div>
</div>
<div class="post-reading">
</div>
</article> -->

<div class="container" role="main">
  <div class="row">

    {{ if (.Params.landing) }}
    <div class="col-lg-12 col-md-12">
      <article role="main" class="blog-post" itemprop="articleBody" id="content">
        {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" }}
        {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
        {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

        {{ $reAltTitleIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
        {{ $reAltTitleOut := "<figure><img src=\"$1\" alt=\"$2\" title=\"$3\"><figcaption>$2</figcaption></figure>" }}
        {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut }}

        {{ $finalContent = replace $finalContent "<!--adsense-->" (partial "adsense-inarticle.html" .) }}
        {{ $finalContent = replace $finalContent "<!--adsense-text-->" (partial "adsense-text.html" .) }}

        {{ $finalContent |safeHTML }}
      </article>

      {{ partial "gitalk.html" . }}
      
    </div>
    
    {{ else }}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div>
            <!-- <h5 id="wc" style="margin-top: -5px;">{{ .WordCount }} 字|阅读大约需要花 {{ .ReadingTime }} 分钟</h5> -->
            {{if .Params.tags }}
            <h5 id="tags" style="margin-top: 30px;">标签:
              {{ range $index, $tag := .Params.tags }}
                  <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ $tag | urlize }}/">{{ $tag }}</a> &nbsp;
              {{ end }}
            </h5>
            {{ end }}
        </div>
  
        <article role="main" class="blog-post" itemprop="articleBody" id="content">
          {{ if not (.Params.notoc) }}
            {{ partial "toc.html" . }}
          {{ end }}
  
          {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" }}
          {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}
  
          {{ $reAltTitleIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
          {{ $reAltTitleOut := "<figure><img src=\"$1\" alt=\"$2\" title=\"$3\"><figcaption>$2</figcaption></figure>" }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut }}
  
          {{ $finalContent = replace $finalContent "<!--adsense-->" (partial "adsense-inarticle.html" .) }}
          {{ $finalContent = replace $finalContent "<!--adsense-text-->" (partial "adsense-text.html" .) }}
          {{ $finalContent = replace $finalContent "<!--adsense-self-->" (partial "adsense-self.html" .) }}

          {{ $finalContent |safeHTML }}

          {{ partial "wechat.html" }}
  
          {{ if isset .Site.Params "reward" }}
            {{ partial "reward.html" }}
          {{ end }}
          {{ if not (.Params.noshare) }}
            {{ partial "share.html" }}
          {{ end }}
        </article>
  
        {{ if not (.Params.unrelated) }}
          {{ partial "related.html" . }}
        {{ end }}
  
        {{ if not (.Params.nopager) }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
        {{ end }}

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blog-detail-comment -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5376999672787220"
            data-ad-slot="3700507799"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
  
        {{ partial "gitalk.html" . }}

        {{ if not (.Params.noreadmore) }}
          {{ partial "readmore.html" . }}
        {{ end }}
  
      </div>
    {{ end }}
    
  </div>
</div>
{{ end }}
