{{ define "main" }}
<div class="container" role="main">
  <div class="row">

    {{ if (.Params.landing) }}
    <div class="col-lg-12 col-md-12">
      <article role="main" class="blog-post" itemprop="articleBody" id="content">
        {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" }}
        {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
        {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

        {{ $reAltTitleIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
        {{ $reAltTitleOut := "<figure><img src=\"$1\" alt=\"$2\" title=\"$3\"><figcaption>$2</figcaption></figure>" }}
        {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut }}

        {{ $finalContent = replace $finalContent "<!--adsense-->" (partial "adsense-inarticle.html" .) }}
        {{ $finalContent = replace $finalContent "<!--adsense-text-->" (partial "adsense-text.html" .) }}

        {{ $finalContent |safeHTML }}
      </article>
    </div>
    
    {{ else }}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div>
            <!-- <h5 id="wc" style="margin-top: -5px;">{{ .WordCount }} 字|阅读大约需要花 {{ .ReadingTime }} 分钟</h5> -->
            {{if .Params.tags }}
            <h5 id="tags" style="margin-top: 0px;">标签:
              {{ range $index, $tag := .Params.tags }}
                  <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ $tag | urlize }}/">{{ $tag }}</a> &nbsp;
              {{ end }}
            </h5>
            {{ end }}
        </div>
  
        <article role="main" class="blog-post" itemprop="articleBody" id="content">
          {{ if not (.Params.notoc) }}
            {{ partial "toc.html" . }}
          {{ end }}
  
          {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" }}
          {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}
  
          {{ $reAltTitleIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" }}
          {{ $reAltTitleOut := "<figure><img src=\"$1\" alt=\"$2\" title=\"$3\"><figcaption>$2</figcaption></figure>" }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut }}
  
          {{ $finalContent = replace $finalContent "<!--adsense-->" (partial "adsense-inarticle.html" .) }}
          {{ $finalContent = replace $finalContent "<!--adsense-text-->" (partial "adsense-text.html" .) }}
  
          {{ $finalContent |safeHTML }}
  
          {{ if isset .Site.Params "reward" }}
            {{ partial "reward.html" }}
          {{ end }}
          {{ if not (.Params.noshare) }}
            {{ partial "share.html" }}
          {{ end }}
        </article>
  
        {{ if not (.Params.unrelated) }}
          {{ partial "related.html" . }}
        {{ end }}
  
        {{ if not (.Params.nopager) }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
        {{ end }}
  
        {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
          {{ if .Site.DisqusShortname }}
            <div class="disqus-comments">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        {{ end }}
  
       {{ if (.Params.gitcomment) }}
        <div id="gitalk-container"></div>
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <script>
        var gitalk = new Gitalk({
          clientID: '{{.Site.Params.Gitcomment.clientId}}',
          clientSecret: '{{.Site.Params.Gitcomment.clientSecret}}',
          repo: '{{.Site.Params.Gitcomment.repo}}',
          owner: '{{.Site.Params.Gitcomment.owner}}',
          admin: ['{{.Site.Params.Gitcomment.owner}}'],
          labels: ['gitment', '{{ .Slug }}'],
          title: '{{ .Title }}',
          id: '{{ .Slug }}',      // Ensure uniqueness and length less than 50
          distractionFreeMode: false  // Facebook-like distraction free mode
        });
        gitalk.render('gitalk-container')
        </script>
        {{ end }}
  
      </div>
    {{ end }}
    
  </div>
</div>
{{ end }}
