{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div>
          <!-- <h5 id="wc" style="margin-top: -5px;">{{ .WordCount }} 字|阅读大约需要花 {{ .ReadingTime }} 分钟</h5> -->
          {{if .Params.tags }}
          <h5 id="tags" style="margin-top: 0px;">标签:
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ $tag | urlize }}/">{{ $tag }}</a> &nbsp;
            {{ end }}
          </h5>
          {{ end }}
      </div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="fluid"
           data-ad-client="ca-pub-5376999672787220"
           data-ad-slot="6990162686"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <article role="main" class="blog-post" itemprop="articleBody" id="content">
        {{ if not (.Params.notoc) }}
          {{ partial "toc.html" . }}
        {{ end }}
        {{ .Content }}
        {{ if isset .Site.Params "reward" }}
          {{ partial "reward.html" }}
        {{ end }}
      </article>

      {{ if not (.Params.unrelated) }}
        {{ partial "related.html" . }}
      {{ end }}

      {{ if not (.Params.nopager) }}
      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

      {{ if (.Params.gitcomment) }}
      <div id="git-comments"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="{{ "js/gitment.browser.js" | absURL }}"></script>
      <script>
      var gitment = new Gitment({
        id: '{{ .Slug }}',
        title: '{{ .Title }}',
        owner: 'cnych',
        repo: 'blog',
        oauth: {
          client_id: 'bdb76dbb2e9d0786e350',
          client_secret: 'b454b2a08013fd0e32013be7a63fa8fcb262b6c4',
        }
      })
      gitment.render('git-comments')
      </script>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
