{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10">

        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail course-item">
              <a href="https://youdianzhishi.com/?utm_source=blog&utm_campaign=referral&utm_medium=hero" title="优点知识"><span class="img" style="background-image: url(/img/ydzs.png)"></span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail course-item">
              <a href="/k8s-book/" title="从 Docker 到 Kubernetes 进阶"><span class="img" style="background-image: url(/img/k8s-book.png)"></span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail course-item">
              <a href="https://www.kube100.com/meetup/204/" title="CKA培训">
                  <span class="img" style="background-image: url(https://ws4.sinaimg.cn/large/006tNbRwgy1fyj6tn3pudj30p00dwjs0.jpg)"></span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail course-item">
              <a href="/istio-book/" title="一起学istio">
                  <span class="img" style="background-image: url(/img/istio-book-cover.png)"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $i,$post := $pag.Pages }}
            {{ if eq $i 1 }}
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-format="fluid"
                   data-ad-layout-key="-4u+ch+3h-da+7k"
                   data-ad-client="ca-pub-5376999672787220"
                   data-ad-slot="7981888143"></ins>
              <script>
                   (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            {{ end }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <span class="post-meta">
                {{ range .Params.tags }}
                  #<a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                {{ end }}
                </span>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>

      <div class="col-lg-4 col-md-2">
        <div class="sidebar-wrap sidebar-about">
          <div class="about-img">
            <img src="https://www.qikqiak.com/img/avatar.jpg" class="rounded-circle">
          </div>
          <h4 class="py-2">Hi! -That's Me</h4>
          <p class="about-text">大家好，我叫阳明(杨川胡)，之前是小米公司的一名高级开发工程师，现在回到家乡成都，自由职业者一枚，是一个有着产品思维的工程师，现在也在努力将自己的产品思维体系化，对互联网产品有自己独到的见解，全栈工程师，现阶段对kubernetes和istio非常着迷，创建了「k8s技术圈」社区。我可以提供企业kubernetes化方面的知识培训和咨询工作，感兴趣的可以通过微信iEverything和我联系。</p>
          <ul class="list-inline social-link">
            <li class="list-inline-item"><a href="mailto:icnych@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/cnych"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://weibo.com/cnych"><i class="fa fa-weibo"></i></a></li>
            <li class="list-inline-item"><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/cnych"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <!-- 热门文章 -->
        <div class="sidebar-wrap">
          <div class="sidebar-block latest-post">
            <h4 class="sidebar-title">热门文章</h4>
            <ol class="list-unstyled">
              <li><a href="/post/manual-install-high-available-kubernetes-cluster/"><div class="rpost-img"><img src="/img/posts/WX20171110-105351.png" alt="" class="img-fluid"></div><h5>手动搭建高可用的 Kubernetes 集群</h5><p class="text-muted">November 6, 2017</p></a></li>
              <li><a href="/post/prometheus-operator-advance/"><div class="rpost-img"><img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fyddjjj4prj315o0rswi5.jpg" alt="Prometheus Operator 高级配置" class="img-fluid"></div><h5>Prometheus Operator 高级配置</h5><p class="text-muted">December 20, 2018</p></a>
              </li>
              <li><a href="/post/use-kubeadm-install-kubernetes-1.10/"><div class="rpost-img"><img src="/img/posts/kubeadm-dashboard.png" alt="" class="img-fluid"></div><h5>使用 kubeadm 搭建 kubernetes1.10 集群</h5><p class="text-muted">April 14, 2018</p></a></li>
              <li><a href="/post/dockerfile-best-practice/"><div class="rpost-img"><img src="/img/posts/photo-1536620752150-a7e9e62a62ee.jpeg" alt="Dockerfile 最佳实践" class="img-fluid"></div><h5>Dockerfile 最佳实践</h5><p class="text-muted">September 12, 2018</p></a></li>
              <li><a href="/post/use-kubeadm-install-kubernetes-1.10/"><div class="rpost-img"><img src="/img/posts/photo-1496072298559-ee7eacbd1b39.jpeg" alt="" class="img-fluid"></div><h5>使用 kubeadm 搭建 kubernetes1.10 集群</h5><p class="text-muted">April 14, 2018</p></a></li>
              <li><a href="/post/huawei-cloudnativelives-k8s-course/"><div class="rpost-img"><img src="/img/posts/cloudnativelives-video.png" alt="华为 CloudNativeLives K8S 系列课程" class="img-fluid"></div><h5>华为 CloudNativeLives Kubernetes 系列课程</h5><p class="text-muted">August 31, 2018</p></a></li>
              <li><a href="/post/how-to-learn-kubernetes/"><div class="rpost-img"><img src="/img/posts/photo-1535383494412-9bdda0d6d9f3.jpeg" alt="如何学习Kubernetes？" class="img-fluid"></div><h5>如何学习Kubernetes？</h5><p class="text-muted">August 29, 2018</p></a></li>
              <li><a href="/post/kubernetes-jenkins1/"><div class="rpost-img"><img src="/img/posts/k8s-jenkins-slave.png" alt="基于 kubernetes 的动态 jenkins slave" class="img-fluid"></div><h5>基于 kubernetes 的动态 jenkins slave</h5><p class="text-muted">July 28, 2018</p></a></li>
              <li><a href="/post/kubernetes-jenkins2/"><div class="rpost-img"><img src="/img/posts/pipeline-demo5.png" alt="Jenkins Pipeline 部署 Kubernetes 应用" class="img-fluid"></div><h5>Jenkins Pipeline 部署 Kubernetes 应用</h5><p class="text-muted">July 28, 2018</p></a></li>
              <li><a href="/post/kubernetes-jenkins3/"><div class="rpost-img"><img src="/img/posts/blue-demo7.png" alt="Jenkins Blue Ocean 的使用" class="img-fluid"></div><h5>Jenkins Blue Ocean 的使用</h5><p class="text-muted">August 2, 2018</p></a></li>
              <li><a href="/post/automatic-kubernetes-ingress-https-with-lets-encrypt/"><div class="rpost-img"><img src="/img/posts/traefik-dashboard-acme.png" alt="使用 Let's Encrypt 实现 Kubernetes Ingress 自动化 HTTPS" class="img-fluid"></div><h5>使用 Let's Encrypt 实现 Kubernetes Ingress 自动化 HTTPS</h5><p class="text-muted">December 5, 2018</p></a></li>
              <li><a href="/post/python-virtualenv-all-know/"><div class="rpost-img"><img src="/img/posts/django2-index.jpg" alt="Python 虚拟环境全知道" class="img-fluid"></div><h5>Python 虚拟环境全知道</h5><p class="text-muted">January 9, 2018</p></a></li>
              <li><a href="/post/use-rbac-in-k8s/"><div class="rpost-img"><img src="/img/posts/WX20180118-150156.png" alt="深入理解 Kubernetes RBAC 的用法" class="img-fluid"></div><h5>深入理解 Kubernetes RBAC 的用法</h5><p class="text-muted">June 22, 2018</p></a></li>
            </ol>
          </div>
        </div>
        <!-- 标签 -->
        <div class="sidebar-wrap">
          <h4 class="sidebar-title">标签</h4>
          <div class="list-unstyled tags-cloud">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt $taxonomy.Count 1 }}
            <a href="/tags/{{ $name | urlize }}">{{ $name }}({{ $taxonomy.Count }})</a>
            {{ end }}
          {{ end }}
          </div>
        </div>
        <!-- 广告 -->
        <div class="sidebar-wrap">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-4u+ch+3h-da+7k"
                 data-ad-client="ca-pub-5376999672787220"
                 data-ad-slot="7981888143"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="popular-wrap">
    <div class="container">
      <div class="row">
        <div class="post-header border-bottom text-center">
          <h3>不定期热门文章</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a class="popular-post" href="/post/prometheus-operator-advance/">
            <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fydddpxwfrj30p00anwgd.jpg" alt="Prometheus Operator 高级配置" class="img-fluid">
            <div class="post-content">
              <p class="ptitle">Prometheus Operator 高级配置</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a class="popular-post" href="/post/kubernetes-affinity-scheduler/">
            <img src="/img/posts/affinity-schedule.png" alt="重新理解 kubernetes 亲和性调度" class="img-fluid">
            <div class="post-content">
              <p class="ptitle">重新理解 kubernetes 亲和性调度</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a class="popular-post" href="/post/grafana-usage-in-k8s/">
            <img src="/img/posts/grafana-cover.png" alt="Grafana 在 Kubernetes 中的使用" class="img-fluid">
            <div class="post-content">
              <p class="ptitle">Grafana 在 Kubernetes 中的使用</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a class="popular-post" href="/post/kube-scheduler-introduction/">
            <img src="/img/posts/kube-scheduler-cover.png" alt="Kubernetes 调度器介绍" class="img-fluid">
            <div class="post-content">
              <p class="ptitle">Kubernetes 调度器介绍</p>
            </div>
          </a>
        </div>
        </div>
      </div>
    </div> -->
{{ end }}

